<footer>
    <div class="container-fluid padding">
    <div class="row text-center bg-light">
      <div class="col-md-4">
        <hr class="light">
        <h5>Function</h5>
        <hr class="light">
          <P>辞書</P>
          <p>ユーザー索引</p>
      </div>

      <div class="col-md-4">
        <hr class="light">
        <h5>About This Web Site</h5>
        <hr class="light">
          <P>Bio Topicsとは</P>
          <P>利用規約</P>
          <P>ガイドライン</P>
          <P>プライバシーポリシー</P>
      </div>

      <div class="col-md-4">
          <hr class="light">
          <h5>About Web Author</h5>
          <hr class="light">
          <P>Twitter</P>
      </div>

      <div class="col-12">
        <hr class="light">
        <h6>&copy; Bio Topics,Designed by Tatsuya Yagi</h6>
      </div>
      
    </div>
  </div>
</footer>