<footer>
    <div class="container-fluid padding">
    <div class="row text-center bg-dark text-white">
      <div class="col-md-4">
        <hr class="light">
        <h5>Function</h5>
        <hr class="light">
          <h6><%= link_to "辞書", words_path %></h6>
          <h6><%= link_to "ユーザー索引", users_path %></h6>
      </div>

      <div class="col-md-4">
        <hr class="light">
        <h5>About This Web Site</h5>
        <hr class="light">
          <h6><%= link_to "利用規約", terms_path %></h6>
          <h6><%= link_to "プライバシーポリシー", privacy_path %></h6>
      </div>

      <div class="col-md-4">
          <hr class="light">
          <h5>About Web Author</h5>
          <hr class="light">
          <a class="twitter-timeline" href="https://twitter.com/Serori69938709?ref_src=twsrc%5Etfw">Tweets by Serori69938709</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <div class="col-12">
        <hr class="light">
        <h6>&copy; Bio Topics,Designed by Tatsuya Yagi</h6>
      </div>
      
    </div>
  </div>
</footer>