<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="row">
    <div class="jumbotron jumbotron-fluid">
       <div class="row align-items-center">
          <div class="col-sm-6 col-md-6">
            <h1 class="display-4 text-light ml-4">Hello Scholar!</h1>
            <p class="lead text-light ml-4">Biotopicsは、読者の皆さんが生物学に関する知識や関心を共有するための記事投稿サイトです。朝顔の観察日記から、読んだ論文から得た知見、実験の失敗談など
        生物学に関連するもので記事であれば、なんでもありです。
        是非、あなたの生物学の知見を皆さんへ共有してください；）
            </p>
          </div>
          <div class="col-sm-6 col-md-6">
            <%= render 'signup_form' %>
          </div>
      　</div>
     </div>
  </div>
</div>