<h1>Bio Topics</h1>

<p>はじめまして、<%= @user.name %>さん</p>

<p>
ようこそBio Topicsへ! アカウントを有効化するためにはこちらをクリックしてください:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>