<div class="container">
  <div class="row topics bg-light">
    <div class="col-1 mx-auto">
      <%= link_to gravatar_for(topic.user, size: 50), topic.user %>
    </div>
    <div class="col-11 mx-auto">
      <%= link_to topic.title, topic_path(topic.id) %>
      <h6><%= time_ago_in_words(topic.created_at) %> ago.</h6>
    </div>
  </div>
</div>