<% provide(:title, '記事編集') %>

<div class="container">
  <div class="row">
     <div class="col mt-5">
     <h2 class="d-inline">記事投稿</h2>
     <%= link_to '記事一覧', topics_path, class: 'btn btn-outline-info d-inline float-right' %>
     </div>
  </div>
    <%= form_for @topic do |f|  %>
      <%= render partial: "post_form", locals: { f: f } %>　
    <% end %>
    </div>
  </div>
</div>