<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 bg-dark text-white ">
      <h4><%= @topic.title %></h4>
    </div>
    <div class="col-md-12 bg-white">
      <!--html_safeでも実装可能、railsguide推奨表記-->
      <%== @topic.content %>
    </div>
    <div class="col-md-12 bg-dark text-white ">
      <h5>by <%= @topic.user.name %></h5>
      <%= link_to "削除", @topic, method: :delete, data: { confirm: "You sure?" } %>
    </div>
  </div>
</div>


