<% provide(:title, '辞書登録') %>

<div class="container">
  <div class="row">
     <div class="col mt-5 bg-dark py-2 rounded">
     <h2 class="d-inline text-light"><i class="fas fa-pencil-alt"> 辞書登録</i></h2>
     <%= render 'layouts/error_messages', model: @word %> 
     <%= link_to '辞書', words_path, class: 'btn btn-info d-inline float-right' %>
     </div>
  </div>
    <%= form_for @word, url: {action: 'confirm'}  do |f|  %>
      <%= render partial: "making_form", locals: { f: f } %>
    <% end %>
    </div>
  </div>
</div>