.article-icon {
  color: white;
}

.article-icon:hover {
  color: orange;
}

.book-icon {
  color: white;
}

.book-icon:hover {
  color: orange;
}

.question-icon {
  color: white;
}

.question-icon:hover {
  color: orange;
}