// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-item.nav-link {
  padding: 0;
  margin: 20px auto;
}

.navbar.navbar-expand-sm.bg-light {
  padding: 0;
}